<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to FlaskTaskr!!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="page">

      {% for message in get_flashed_messages() %}
        <!-- display 'flashed' message in the application -->
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% if error %}
        <div class="error"><strong>Error:</strong> {{ error }}</div>
      {% endif %}

      <br>
      <!-- take child template here -->
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>